In [1]:
# Python script to do the analysis based on the account table
import openpyxl
import numpy as np
import pandas as pd
import os
from util import rs_conn, mail
import time
import datetime
import logging

In [2]:
# Get the redshift user name and password
rs_user = os.getenv('RS_USER')
rs_pass = os.getenv('RS_PASS')

# Connect to the Redshift
rs = rs_conn.RS_CONN(rs_user=rs_user, rs_pass=rs_pass)
rs.set_Conn()

# Get query data
query = open(f'./sql_queries/overview_data.sql', 'r').read()
df = rs.get_result_df(sql_query=query)
rs.conn.close()

In [5]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
end_month_date,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,...,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31
issued_card_cnt,3602,11297,15678,18221,20078,21547,23673,25988,29991,41970,...,1039979,1158454,1283130,1386236,1478037,1584884,1665970,1730185,1787695,1823588
delivery_cnt,3533,11067,15368,17870,19681,21129,23231,25511,29470,41208,...,1028431,1143792,1265191,1366075,1456271,1560940,1640280,1701420,1754687,1782087
activated_acct_cnt,919,4832,11782,15674,17829,19275,21728,24093,26819,36080,...,977365,1094522,1213207,1328654,1431647,1527057,1615083,1662908,1732330,1784156

In [14]:
df_empty = pd.DataFrame()

In [15]:
result = pd.concat([df_empty, df.T], axis=0, join='outer', ignore_index=False)

In [16]:
result

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
end_month_date,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,...,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31
issued_card_cnt,3602,11297,15678,18221,20078,21547,23673,25988,29991,41970,...,1039979,1158454,1283130,1386236,1478037,1584884,1665970,1730185,1787695,1823588
delivery_cnt,3533,11067,15368,17870,19681,21129,23231,25511,29470,41208,...,1028431,1143792,1265191,1366075,1456271,1560940,1640280,1701420,1754687,1782087
activated_acct_cnt,919,4832,11782,15674,17829,19275,21728,24093,26819,36080,...,977365,1094522,1213207,1328654,1431647,1527057,1615083,1662908,1732330,1784156

In [38]:
path = os.getcwd() + '/sql_queries'
all_files = os.listdir(path)
sql_files = list(filter(lambda f: f.endswith("summary.sql"), all_files))

In [45]:
tab_name = [x.split('.')[0] for x in sql_files]
tabs_dict = dict(('' + str(i), pd.DataFrame()) for i in tab_name)

In [55]:
tab_name

['usage_summary', 'revenue_summary', 'overview_summary', 'dq_summary']

In [53]:
# Get the redshift user name and password
rs_user = os.getenv('RS_USER')
rs_pass = os.getenv('RS_PASS')

# Connect to the Redshift
rs = rs_conn.RS_CONN(rs_user=rs_user, rs_pass=rs_pass)
rs.set_Conn()

# Get query data
for i,j in zip(tabs_dict.keys(), sql_files):
    query = open(f'./sql_queries/{j}', 'r').read()
    df = rs.get_result_df(sql_query=query).T
    tabs_dict[i] = df
rs.conn.close()

In [54]:
tabs_dict

{'usage_summary':                               0           1           2            3   \
 cycle_end_dt          2020-01-13  2020-02-12  2020-03-12   2020-04-13
 actived_acct_cnt             110        1852        8384        13694
 attrition_cnt                  0           0           2           14
 co_cnt                         0           0           0            0
 other_close_cnt                0           0           0            0
 open_acct_cnt                110        1852        8382        13680
 actived_credit_limit    454500.0   3898500.0  14803500.0   25356000.0
 open_credit_limit       454500.0   3898500.0  14803500.0   25356000.0
 active_credit_limit     350500.0   3102500.0  11204500.0   21221000.0
 active_acct_cnt               74        1471        6562        11949
 transactor_acct_cnt           74        1468        6399        10716
 revolver_acct_cnt              0           0           0         3096
 tot_end_os_bal_amt     134447.22  1737064.64  7034399.13  14475554.71
 tot_txn_amt            145655.06  1899868.45   7027956.1  12054741.66
 tot_txn_cnt                513.0      7202.0     30230.0      51339.0
 tot_adb_amt                  0.0         0.0         0.0   4113780.57
 avg_dau                      NaN         NaN         NaN          NaN
 mau                          NaN         NaN         NaN          NaN
 num_of_dau                   NaN         NaN         NaN          NaN
 active_acct_cnt              NaN         NaN         NaN          NaN

                                4            5             6            7   \
 cycle_end_dt           2020-05-12   2020-06-12    2020-07-13   2020-08-12
 actived_acct_cnt            16013        18476         20013        22666
 attrition_cnt                  22           31            56           92
 co_cnt                          0            0             0            0
 other_close_cnt                 0            0             0            0
 open_acct_cnt               15991        18445         19957        22574
 actived_credit_limit   30515500.0   36138000.0    40345500.0   45048000.0
 open_credit_limit      30515500.0   36138000.0    40345500.0   45048000.0
 active_credit_limit    26159500.0   30982000.0    34907000.0   39288000.0
 active_acct_cnt             14310        16524         17965        20372
 transactor_acct_cnt         10774        12336         12740        14488
 revolver_acct_cnt            6310         8018          8951         9753
 tot_end_os_bal_amt    18033666.38  22746207.14  26222952.286  30640742.51
 tot_txn_amt           11137409.91  13845664.07   14813906.05  17890501.58
 tot_txn_cnt               45033.0      54750.0       59249.0      69477.0
 tot_adb_amt             8868787.1  11557302.98   13893232.27  15925159.89
 avg_dau                       NaN          NaN           NaN          NaN
 mau                           NaN          NaN           NaN          NaN
 num_of_dau                    NaN          NaN           NaN          NaN
 active_acct_cnt               NaN          NaN           NaN          NaN

                                 8            9   ...            26  \
 cycle_end_dt            2020-09-14   2020-10-12  ...    2022-03-11
 actived_acct_cnt             25110        29496  ...        902124
 attrition_cnt                  140          172  ...          5097
 co_cnt                           1            3  ...         58544
 other_close_cnt                  1           49  ...          4022
 open_acct_cnt                24968        29272  ...        834461
 actived_credit_limit    48997000.0   55256000.0  ...  1550398000.0
 open_credit_limit       48996000.0   55253000.0  ...  1466043800.0
 active_credit_limit     43578000.0   48102000.0  ...  1277711680.0
 active_acct_cnt              22857        26120  ...        731414
 transactor_acct_cnt          16476        18712  ...        566048
 revolver_acct_cnt            11048         8871  ...        280626
 tot_end_os_bal_amt    35340021.738  38400274.47  ...  973161779.44
 tot_txn_amt            20875706.57  22014156.21  ...  732977772.96
 tot_txn_cnt                85613.0      90097.0  ...     2769334.0
 tot_adb_amt            18508175.54  14596040.67  ...  423803164.93
 avg_dau                        NaN          NaN  ...      0.219075
 mau                            NaN          NaN  ...      0.901356
 num_of_dau                     NaN          NaN  ...      178623.0
 active_acct_cnt                NaN          NaN  ...      789556.0

                                 27              28              29  \
 cycle_end_dt            2022-04-12      2022-05-13      2022-06-13
 actived_acct_cnt           1022520         1149439         1249376
 attrition_cnt                 5626            6089            6585
 co_cnt                       69930           78933           89821
 other_close_cnt               4580            5114            5765
 open_acct_cnt               942384         1059303         1147205
 actived_credit_limit  1804881660.0   2102048846.25   2352967576.25
 open_credit_limit     1706378160.0   1992205136.25   2229153166.25
 active_credit_limit   1516695440.0    1768554622.5   1985805228.75
 active_acct_cnt             841085          945423         1027556
 transactor_acct_cnt         670132          727857          774882
 revolver_acct_cnt           327453          403731          445508
 tot_end_os_bal_amt    1193667155.8  1387002128.012  1590935747.122
 tot_txn_amt           929880599.56   1008547653.76   1102697021.26
 tot_txn_cnt              3500259.0       3732383.0       4056390.0
 tot_adb_amt           504919182.89    634894870.71     719264206.5
 avg_dau                   0.206073        0.205385        0.199807
 mau                       0.894473        0.902195          0.9018
 num_of_dau                189913.0        211121.0        223702.0
 active_acct_cnt           876350.0        976713.0       1047717.0

                                  30             31             32  \
 cycle_end_dt             2022-07-12     2022-08-12     2022-09-12
 actived_acct_cnt            1368182        1458148        1565224
 attrition_cnt                  7126           7799           8514
 co_cnt                       101927         116669         132164
 other_close_cnt                6405           7292           8044
 open_acct_cnt               1252724        1326388        1416502
 actived_credit_limit  2673951496.25  3125369396.25  3628294646.25
 open_credit_limit     2534043486.25  2964921086.25  3446152036.25
 active_credit_limit   2251057901.25   2680369727.5  3142970011.25
 active_acct_cnt             1122594        1203325        1293843
 transactor_acct_cnt          820937         891278         947222
 revolver_acct_cnt            512979         543655         605658
 tot_end_os_bal_amt    1794515872.67  2099663264.91  2507361052.54
 tot_txn_amt           1149234458.44  1428605221.04  1631628305.81
 tot_txn_cnt               4193283.0      5016727.0      5559207.0
 tot_adb_amt            859904593.47   955217313.58   1167708248.0
 avg_dau                     0.20822       0.206703       0.195386
 mau                        0.906836       0.900773       0.870452
 num_of_dau                 252878.0       264860.0       263476.0
 active_acct_cnt           1122563.0      1172946.0      1208879.0

                                  33              34             35
 cycle_end_dt             2022-10-13      2022-11-14     2022-12-13
 actived_acct_cnt            1641909         1687701        1756259
 attrition_cnt                  9965           10789          11308
 co_cnt                       150442          175674         203831
 other_close_cnt                8799            9793          11029
 open_acct_cnt               1472703         1491445        1530091
 actived_credit_limit  3982664666.25   4145070886.25  4375422816.25
 open_credit_limit     3773920156.25   3899199276.25  4087159906.25
 active_credit_limit   3491050971.25   3631838406.25   3791309055.0
 active_acct_cnt             1354283         1376851        1401967
 transactor_acct_cnt          953844          949564         941120
 revolver_acct_cnt            666283          699866         693515
 tot_end_os_bal_amt     2832395082.0  3053842876.629  3145736480.01
 tot_txn_amt           1686160561.29   1696825445.23  1690229950.02
 tot_txn_cnt               5673305.0       5772901.0      5312160.0
 tot_adb_amt           1419073293.96   1595526611.29  1651747329.24
 avg_dau                    0.194088        0.173604       0.145842
 mau                        0.871045        0.885365       0.872699
 num_of_dau                 267795.0        241158.0       206179.0
 active_acct_cnt           1184141.0       1226084.0      1253910.0

 [20 rows x 36 columns],
 'revenue_summary':                                     0           1           2           3   \
 run_dt                      2022-12-29  2022-12-29  2022-12-29  2022-12-29
 mnth_end_dt                 2020-01-31  2020-02-29  2020-03-31  2020-04-30
 cycle_end_dt                2020-01-13  2020-02-12  2020-03-12  2020-04-13
 new_cards_issued                  3604        7781        4295        2543
 cum_cards_issued                  3604       11385       15680       18223
 activated_account_count            110        1852        8384       13694
 new_activation                     NaN      1742.0      6532.0      5310.0
 open_account_count                 110        1852        8382       13680
 active_account_count                74        1471        6562       11949
 curr_stmt_interest_charged       52.94      180.73         0.0   256242.23
 interchange_revenue_amt        2007.93    22283.62    85268.22   152168.15
 open_fee_amt                       0.0         0.0         0.0         0.0
 assessed_fee                     725.0     19995.0    74222.33   198697.93
 service_pmt_commission_amt         0.0         0.0         0.0         0.0
 collected_interest               42.44      125.61       34.96   100967.14
 interest_revenue_amt             42.44      125.61       34.96   100967.14
 fee_revenue_amt                 382.18    19196.07    74339.96    123137.9
 total_exposure                454500.0   3898500.0  14803500.0  25356000.0

                                     4           5           6           7   \
 run_dt                      2022-12-29  2022-12-29  2022-12-29  2022-12-29
 mnth_end_dt                 2020-05-31  2020-06-30  2020-07-31  2020-08-31
 cycle_end_dt                2020-05-12  2020-06-12  2020-07-13  2020-08-12
 new_cards_issued                  1889        1437        2126        2315
 cum_cards_issued                 20112       21549       23675       25990
 activated_account_count          16013       18476       20013       22666
 new_activation                  2319.0      2463.0      1537.0      2653.0
 open_account_count               15991       18445       19957       22574
 active_account_count             14310       16524       17965       20372
 curr_stmt_interest_charged   496780.49    692333.0   832761.62   924298.08
 interchange_revenue_amt      144085.26   178587.87   191476.16   229894.23
 open_fee_amt                       0.0         0.0         0.0         0.0
 assessed_fee                 333497.41   443812.87  510259.276   564104.14
 service_pmt_commission_amt         0.0         0.0         0.0         0.0
 collected_interest           216189.24   301347.04    386264.3   432057.27
 interest_revenue_amt         216189.24   301347.04   381690.88   420300.99
 fee_revenue_amt              147331.19   185387.79   215550.85   228934.86
 total_exposure              30515500.0  36138000.0  40345500.0  45048000.0

                                     8           9   ...            26  \
 run_dt                      2022-12-29  2022-12-29  ...    2022-12-29
 mnth_end_dt                 2020-09-30  2020-10-31  ...    2022-03-31
 cycle_end_dt                2020-09-14  2020-10-12  ...    2022-03-11
 new_cards_issued                  4003       12278  ...        124148
 cum_cards_issued                 29993       42271  ...       1039983
 activated_account_count          25110       29496  ...        902124
 new_activation                  2444.0      4386.0  ...      112285.0
 open_account_count               24968       29272  ...        834461
 active_account_count             22857       26120  ...        731414
 curr_stmt_interest_charged   1184904.6    792163.4  ...    33265685.4
 interchange_revenue_amt      273257.89   294516.95  ...     9515877.9
 open_fee_amt                       0.0         0.0  ...    4906591.08
 assessed_fee                621415.398   315383.72  ...    4415987.77
 service_pmt_commission_amt         0.0         0.0  ...       72845.5
 collected_interest           545610.59   636211.53  ...   27028147.57
 interest_revenue_amt         542741.87   635296.38  ...   27025506.37
 fee_revenue_amt              244630.77    233227.3  ...    2545847.36
 total_exposure              48997000.0  55256000.0  ...  1550398000.0

                                       27             28             29  \
 run_dt                        2022-12-29     2022-12-29     2022-12-29
 mnth_end_dt                   2022-04-30     2022-05-31     2022-06-30
 cycle_end_dt                  2022-04-12     2022-05-13     2022-06-13
 new_cards_issued                  121329         121822         103106
 cum_cards_issued                 1161312        1283134        1386240
 activated_account_count          1022520        1149439        1249376
 new_activation                  120396.0       126919.0        99937.0
 open_account_count                942384        1059303        1147205
 active_account_count              841085         945423        1027556
 curr_stmt_interest_charged   43849480.32    53411715.98    60833811.93
 interchange_revenue_amt      11958846.91    13188142.01    14138068.34
 open_fee_amt                  4828747.15     5044524.84     4469434.76
 assessed_fee                  5446398.47    6733250.092    7091450.022
 service_pmt_commission_amt     330644.46      563190.64      872659.52
 collected_interest           34358906.71    42631252.56    46119311.98
 interest_revenue_amt         34356165.89    42625326.72    46110232.98
 fee_revenue_amt               3148317.05     3869300.05     3742506.61
 total_exposure              1804881660.0  2102048846.25  2352967576.25

                                        30             31             32  \
 run_dt                         2022-12-29     2022-12-29     2022-12-29
 mnth_end_dt                    2022-07-31     2022-08-31     2022-09-30
 cycle_end_dt                   2022-07-12     2022-08-12     2022-09-12
 new_cards_issued                    95303         103345          81086
 cum_cards_issued                  1481543        1584888        1665974
 activated_account_count           1368182        1458148        1565224
 new_activation                   118806.0        89966.0       107076.0
 open_account_count                1252724        1326388        1416502
 active_account_count              1122594        1203325        1293843
 curr_stmt_interest_charged    68087047.09    80924227.45    99252425.61
 interchange_revenue_amt       14549918.78    17994561.14    20427910.22
 open_fee_amt                   5901935.59     4964032.35     5579272.28
 assessed_fee                   8800907.04     8943160.02     9529869.33
 service_pmt_commission_amt     1315312.97     1785176.42   2058572.5624
 collected_interest            55936792.48    60680748.13    74409379.16
 interest_revenue_amt          55936352.03     60678155.4    74068209.21
 fee_revenue_amt                5178372.62      4459330.1     4519518.73
 total_exposure              2673951496.25  3125369396.25  3628294646.25

                                        33             34             35
 run_dt                         2022-12-29     2022-12-29     2022-12-29
 mnth_end_dt                    2022-10-31     2022-11-30     2022-12-31
 cycle_end_dt                   2022-10-13     2022-11-14     2022-12-13
 new_cards_issued                    64215          57510          32849
 cum_cards_issued                  1730189        1787699        1820548
 activated_account_count           1641909        1687701        1756259
 new_activation                    76685.0        45792.0        68558.0
 open_account_count                1472703        1491445        1530091
 active_account_count              1354283        1376851        1401967
 curr_stmt_interest_charged   120681256.41   140192565.74   132270323.21
 interchange_revenue_amt       20899019.56    20870333.38    21197468.74
 open_fee_amt                   4577818.35     2809064.35     4020587.99
 assessed_fee                  10793160.98   11398703.079    11197818.22
 service_pmt_commission_amt   2417081.7125   2646729.6834   2439021.7487
 collected_interest            92098061.07   108219256.51            NaN
 interest_revenue_amt          91906346.86   107405993.17            NaN
 fee_revenue_amt                5378274.28     5849583.68            NaN
 total_exposure              3982664666.25  4145070886.25  4375422816.25

 [18 rows x 36 columns],
 'overview_summary':                             0           1           2           3   \
 end_month_date      2020-01-31  2020-02-29  2020-03-31  2020-04-30
 issued_card_cnt           3602       11297       15678       18221
 delivery_cnt              3533       11067       15368       17870
 activated_acct_cnt         919        4832       11782       15674

                             4           5           6           7   \
 end_month_date      2020-05-31  2020-06-30  2020-07-31  2020-08-31
 issued_card_cnt          20078       21547       23673       25988
 delivery_cnt             19681       21129       23231       25511
 activated_acct_cnt       17829       19275       21728       24093

                             8           9   ...          26          27  \
 end_month_date      2020-09-30  2020-10-31  ...  2022-03-31  2022-04-30
 issued_card_cnt          29991       41970  ...     1039979     1158454
 delivery_cnt             29470       41208  ...     1028431     1143792
 activated_acct_cnt       26819       36080  ...      977365     1094522

                             28          29          30          31  \
 end_month_date      2022-05-31  2022-06-30  2022-07-31  2022-08-31
 issued_card_cnt        1283130     1386236     1478037     1584884
 delivery_cnt           1265191     1366075     1456271     1560940
 activated_acct_cnt     1213207     1328654     1431647     1527057

                             32          33          34          35
 end_month_date      2022-09-30  2022-10-31  2022-11-30  2022-12-31
 issued_card_cnt        1665970     1730185     1787695     1823588
 delivery_cnt           1640280     1701420     1754687     1782087
 activated_acct_cnt     1615083     1662908     1732330     1784156

 [4 rows x 36 columns],
 'dq_summary':                             0           1           2            3   \
 cycle_end_dt        2020-01-13  2020-02-12  2020-03-12   2020-04-13
 os_bal               134398.22  1724630.14  7004998.63  14415989.18
 dq1_30_prncp_bal           0.0     6748.98   270156.14   1336424.14
 dq31_60_prncp_bal          0.0         0.0     6749.76     186043.8
 dq61_90_prncp_bal          0.0         0.0         0.0      6751.18
 dq91_180_prncp_bal         0.0         0.0         0.0          0.0
 co_cnt                       0           0           0            0
 co_amt                     0.0         0.0         0.0          0.0

                              4            5             6            7   \
 cycle_end_dt         2020-05-12   2020-06-12    2020-07-13   2020-08-12
 os_bal              17980869.29  22680384.05  26130650.596  30557571.81
 dq1_30_prncp_bal     2196467.11   1858621.29    1674640.58    1663831.5